.section {
    height: 100vh;
    width: 100%;
    position: relative;
    padding: 50px;
    display: none;
    /*padding-top: 50px;
    padding-bottom: 25px;*/
}


.map-vis {
    width: 100%;
    height: 100%;
    position: relative;
}

.vis-container {
    width: 100%;
    height: 80%;
    position: relative;
}

#vis-2 .row {
    width: 100%;
    height: 100%;
}

#vis-4 .row {
    width: 100%;
    height: 100%;
}
/* #hook-sec {
    display: none;
} */